.about-us-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: auto;
  background-color: #f7f7f7;
}
.title-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 40%;
  font-family: "Raleway", serif;
  padding: 20px;
}
.title-cta > h1 {
  font-size: 35px;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  margin-bottom: 10px;
  text-align: left;
}

.title-cta > button {
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #eb2172;

  color: white;
  border-width: 0px;
}
.para-heading {
  color: #eb2172;
  font-size: 24px;
  font-weight: bold;

  margin-bottom: 10px;
}
.content {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
}
.image {
  min-width: 40%;
  padding: 20px;
}
.image > img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .about-us-section {
    min-width: 100%;
    margin: 100px auto;
    flex-direction: column-reverse;
  }
  .image {
    max-width: 100%;
  }
  .content {
    font-size: 20px;
  }
  .image > img {
    max-width: 100%;
  }
  .title-cta {
    margin: 20px 0;
    max-width: 100%;
  }
  .title-cta > h1 {
    font-size: 35px;
  }
  .eclipse-2 {
    display: none;
  }
  .eclipse-3 {
    display: none;
  }
  .eclipse-1 {
    display: none;
  }
}
@media (max-width: 425px) {
  .about-us-section {
    min-width: 100%;
    flex-direction: column-reverse;
  }
  .eclipse-1 {
    top: 500px;
  }
  .image > img {
    max-height: 270px;
  }

  .title-cta > h1 {
    font-size: 30px;

    margin-bottom: 10px;
  }
  .eclipse-1 {
    top: 700px;
    left: 300px;
  }
}
