/* 
.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 80px;
  background-image: url("../../../Assets/Images/banner.png"); 
  background-size: cover; 
  background-position: bottom; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
}

.banner-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.67); 
  z-index: 1; 
} */
.banner-section {
  display: flex;
  justify-content: space-around;
  align-items: start;

  padding: 80px 60px;
  padding-top: 100px;
  background: #ffffff;
  border-radius: 0 0 50% 0;
  min-height: 100vh; /* Ensures the container takes the full viewport height */
}
.cover {
  /* all: unset; */
  background: rgba(0, 255, 123, 0.1);
}
.title-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
  z-index: 2;

  font-family: "Raleway", serif;
}
.title {
  font-size: 60px;
  /* font-family: "Londrina Solid", serif; */
  /* font-optical-sizing: auto; */
  font-weight: 500;
  font-style: normal;
  line-height: 75px;
  opacity: 0;
  margin: 0;
  color: #265c7e;
  margin-bottom: 20px;
  text-align: left;
  transform: translateY(20px);
}
.title-cta > p:nth-child(1) {
  color: #f97544;
  font-size: 18px;
  font-weight: 600;
  scale: 0.8;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.title-cta > p {
  opacity: 0;
  transform: translateY(20px);
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 10px;
  text-align: left;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.image {
  box-shadow: 30px 40px 60px rgba(0, 0, 0, 0.3);
  z-index: 200;
  opacity: 0;
  min-height: 400px;
  max-width: 30%;
  min-width: 30%;
  padding: 0 20px;
  display: inline-block;
  background-image: url("../../../Assets/Images/between_worlds.jpg"); /* Replace with your image URL */
  background-size: cover; /* Makes the background cover the entire container */
  background-position: bottom; /* Centers the image */
  background-repeat: no-repeat; /* Ensures the image doesn't repeat */
  /* border-radius: 7% 7% 7% 50%; */
  box-shadow: 8px -8px 0px 0px #f97544;
  transform: perspective(1000px) rotateY(-15deg);
  filter: "hue-rotate(90deg) saturate(130%)";
}
.button-container > button {
  margin-right: 10px;
  font-family: "Londrina Solid", sans-serif;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px;
  /* background-color: #00b3ad; */
  min-width: 150px;
  color: white;
  border-width: 0px;
}

.button-container > button:nth-child(2) {
  color: #f97544;
  border: #f97544 solid 2px;

  /* box-shadow: -2px 5px 0px #CB4A1B; */
}

.button-container > button:nth-child(1) {
  background-color: #265c7e;
  box-shadow: -2px 3px 0px #323663;
}

/* 
.title-cta > p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32.4px;
  letter-spacing: 18%;
  opacity: 0;
  color: white;
  text-align: left;
  margin: 0;
  font-family: "Inter", sans-serif;
} */

.button-container {
  opacity: 0;
  scale: 0.8;
  margin: 10px 0;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1024px) {
  .button-container {
    flex-direction: column;
    width: 100%;
  }
  .title-cta > h1 {
    font-size: 37px;
    line-height: 1em;
  }
  .button-container > button:first-child {
    width: 100%;
  }
  .button-container > button:nth-child(2) {
    text-align: left;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .banner-section {
    /* min-width: 100%; */
    /* margin: 100px auto; */
    padding: 80px 20px;
    margin: 0;
    align-items: center;
    justify-content: space-between;
  }
  .image {
    max-width: 100%;
  }
  .image > img {
    max-height: 300px;
  }
  .title-cta {
    margin: 20px 0;
  }
  .title-cta > h1 {
    font-size: 50px;
  }
  .eclipse-2 {
    display: none;
  }
  .eclipse-3 {
    display: none;
  }
  .eclipse-1 {
    display: none;
  }
}
@media (max-width: 426px) {
  .banner-section {
    width: 100%;
    flex-direction: column-reverse;
  }

  .image {
    width: 100%;
  }

  .title-cta {
    min-width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 376px) {
  .banner-section {
    /* width: 100%;
    flex-direction: column-reverse; */
    font-size: 55px;
    padding: 40px;
  }
  .eclipse-1 {
    top: 500px;
  }
  .image > img {
    max-height: 270px;
  }

  .title-cta > h1 {
    font-size: 35px;

    margin-bottom: 10px;
  }
  .eclipse-1 {
    top: 700px;
    left: 300px;
  }
}

.eclipse-1 {
  position: absolute;
  left: 20px;
  top: 120px;
}
.eclipse-2 {
  position: absolute;
  bottom: 0px;
  left: 250px;
}
.eclipse-3 {
  position: absolute;
  right: 0px;
  top: 300px;
}
