.icon-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.icon-title > img {
  max-width: 72px;
}
.icon-title > h3 {
  font-size: 25px;
  /* max-width: 150px; */
  margin: 0;
  color: #265C7E;
  padding: 0;
  font-family: "Raleway", serif;
  text-align: start;
  line-height: 130%;
}

.icon-title > p {
  font-size: 48px;
  color: #F97544;
  
  max-width: 72px;
  margin: 0;
  padding: 0;
  text-align: left;
  line-height: 130%;
  font-weight: bolder;
}

.card-logo{
  height: 40px;
  width: 40px;
}

.card {
  background-color: #ffffff;
  /* max-width: 390px; */

  border-radius: 10px;
  padding: 20px;
  font-family: "Inter", serif;
  display: flex;
  /* border: #99e7e1 2px solid; */
  flex-direction: column;
  /* box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.5); */

  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-header {
  display: flex;
  justify-content: center;
  
}

.card-body {
  color: #000000c5;
  text-align: center;
}

.card{
  transform: translateY(20px);
  opacity: 0;
}
@media (max-width: 769px) {
  .card {
    max-height: fit-content;
  }
}

@media (max-width: 426px) {
  .card {
    margin: 15px 0;
  }
}
