.card {
  border-radius: 10px;
  opacity: 0;
  transform: translateY(20px);
  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  line-height: normal;
}
.statement-container {
  display: flex;
  flex-direction: column;
}
.mentor-info-header {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.mentor-image {
  width: 12rem;
  border-radius: 20px;
  transition: transform 0.3s ease; /* Smooth scaling for the image */
}

.mentor-image:hover {
  transform: scale(1.1); /* Scales the image by 10% */
}
.mentor-body {
  /* width: 70%; */
  margin-left: 25px;
}
.statement {
  margin: 10px 0;
  text-align: start;
}
.mentor-info-header > img {
  padding-right: 10px;
}
.statement {
  font-size: 1rem;
}

.mentor-info-name {
  font-size: 2.25rem;
  padding: 0;
  margin: 0;
  line-height: 18px;
  font-weight: bold;
  text-align: start;
}
.mentor-info-position {
  color: #ec5923;
  font-style: italic;
  margin-top: 12px;
  font-size: 1rem;
  text-align: start;
}
.link {
  display: flex;
  color: #ec5923;
  font-weight: 500;
  text-align: start;
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 10px;
}

.link:hover {
  color: #ff5e74; /* Slightly lighter shade for glow effect */
}

.link > svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.25rem;
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover > svg {
  transform: translate(
    5px,
    -5px
  ); /* Moves the SVG slightly in the x and y directions */
}

@media (max-width: 426px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
  .mentor-image {
    margin: 10px 0;
  }
  .mentor-body {
    margin: 10px 0;
  }
  .statement {
    text-align: justify;
  }
  .mentor-info-name {
    line-height: 35px;
  }
}
