.card {
  background-color: #f7f7f7;

  border-radius: 10px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  line-height: normal;
}
.testimonial-header {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.statement {
  margin: 10px 0;
  text-align: start;
}
.testimonial-header > img {
  padding-right: 10px;
}
.testimonial-name {
  max-height: 25px;
}
.testimonial-name :nth-child(1) {
  color: #ff3e54;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 18px;
  font-weight: bold;
  text-align: start;
}
.testimonial-name :nth-child(2) {
  font-style: italic;
  padding: 0;
  margin: 0;
  text-align: start;
}
