.card {
  width: 400px;
  margin: 10px;
  border: 2px solid #4bb7ba;
  position: absolute;
  transform: translateY(100);
  opacity: 0;
  top: 0;
  left: 0;
}
.heading {
  font-size: 70px;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  font-family: "Raleway", serif;
  /* margin-top: 10px; */

  padding: 20px 0;
  text-align: center;
  color: white;
}
